div#scATCwrapper {
	position: absolute; z-index: 20000; opacity: 0.75; background-color: rgb(0, 0, 0);
}
div#scATCmsg {
	font: 13px/1.2 Helvetica, "Trebuchet MS", sans-serif; padding: 16px; border: 1px solid rgb(0, 0, 0); width: 400px; text-align: center; position: absolute; z-index: 20001; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
body.scATCtemplate1 div#scATCwrapper {
	display: none;
}
body.scATCtemplate1 div#scATCmsg img {
	margin-right: 4px; vertical-align: middle;
}
body.scATCtemplate1 div#scATCmsg {
	padding: 2px 8px; border: 1px solid rgb(255, 255, 255); left: 2px; top: 2px; width: auto; color: rgb(255, 255, 255); background-color: rgb(206, 23, 0);
}
body.scATCinProgress form input {
	opacity: 0.25;
}
body.scATCinProgress form select {
	opacity: 0.25;
}
select.scHideSelect {
	visibility: hidden;
}
iframe#scCookieTestFrame {
	border: currentColor; width: 0px; height: 0px; overflow: hidden;
}
iframe#scFrameWorkFrame {
	border: currentColor; width: 0px; height: 0px; overflow: hidden;
}
iframe#scHddnIFrame {
	border: currentColor; width: 0px; height: 0px; overflow: hidden;
}
body {
	background: url("/resources/images/bg-rev-wide.jpg") fixed no-repeat center rgb( 220,230,240 ); margin: 0px auto; padding: 0px; text-align: center; font-family: Tahoma, Arial, sans-serif; font-size: 72%; font-style: normal; font-variant: normal; font-weight: normal;
}
body div#menubar{
	background-image: url("../../images/menubar.png") fixed  no-repeat;margin: 0px auto; padding: 0px;
	font-family: sans-serif;
	font-size: 14px;
	line-height:1.5em;
	height: 27px;
	margin-left:5px;
	width:100%;
}

body div#menubar div{
	font-family: sans-serif;
	font-size: 16px;
	line-height:1.5em;
	height: 27px;
	margin-left:5px;
	margin-right:5px;
	float:left;
	color: red;
	font-family:sans-serif;
	font-weight:bold;
}
#container {
	margin: 0px auto; width: 960px; text-align: left; position: relative;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.1em;
}
img {
	border: 0px currentColor;
}
input {
	font-size: 1em;
}
select {
	font-size: 1em;
}
.valign * {
	width: 150px; vertical-align: middle;
}
span.shea {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-repeat: no-repeat;
}
a span {
	cursor: pointer;
}
div.stylish {
	background: url("/images/bg-rev-wide.jpg") no-repeat left top white; margin: 0px; padding: 0px; width: 780px; height: 18px;
}
#bodyshell {
	background: url("/resources/images/bodyshell-bg-wide.jpg") repeat-y left top white; margin: 0px; width: 780px; padding-left: 180px; float: left;
}
.home#bodyshell {
	background-color: rgb(209, 208, 192);
}
#bodycontent {
	width: 780px; float: right; display: inline; position: relative;
}
td#breadcrumbs {
	padding: 6px; color: rgb(0, 51, 204); font-size: 11px;
}
#nav-product {
	margin: 0px 0px 0px -180px; width: 180px; padding-bottom: 80px; float: left; display: inline; position: relative; z-index: 100;
}
#header {
	width: 960px; height: 195px; overflow: hidden; float: left; position: relative; min-height: 195px; background-image: url("../images/autogeek/AG-hdr-3-18-14.jpg"); background-repeat: no-repeat; background-color: rgb(156, 155, 155);
}
* html #header {
	height: 195px;
}
#header form {
	margin-bottom: 0px;
}
#brandmark {
	margin: 0px; width: 395px; height: 126px; float: left; position: relative;
}
#brandmark a {
	width: 100%; height: 100%; overflow: hidden; display: block; position: relative;
}
#brandmark a span {
	background-image: url("AG-hdr-3-18-14.jpg");
}
#asotvLink {
	left: 50px; top: 38px; width: 80px; height: 60px; position: absolute;
}
#asotvLink a {
	width: 100%; height: 100%; overflow: hidden; display: block; position: relative;
}
#asotvLink a span {
	background: url("header-spacer.gif") -700px -1px;
}
#sema11Link {
	left: 700px; top: 38px; width: 80px; height: 60px; position: absolute;
}
#sema11Link a {
	width: 100%; height: 100%; overflow: hidden; display: block; position: relative;
}
#sema11Link a span {
	background: url("header-spacer.gif") -650px -1px;
}
#pbmaLink {
	left: 767px; top: 11px; width: 220px; height: 80px; clear: both; position: absolute; z-index: 1000;
}
#pbmaLink a {
	width: 100%; height: 100%; overflow: hidden; display: block; position: relative;
}
#pbmaLink a span {
	background: url("header-spacer.gif") -587px -1px;
}
#shadow {
	left: 721px; top: 195px; display: none; position: absolute; z-index: 100;
}
#shadow img {
	position: relative;
}
#hLinks {
	margin: 0px; padding: 0px; height: 37px; display: block; position: relative;
}
#hLinks li {
	margin: 0px; padding: 0px; height: 37px; display: block; position: relative;
}
#hLinks li a {
	margin: 0px; padding: 0px; height: 37px; display: block; position: relative;
}
#hLinks {
	width: 948px; clear: both; float: left;
}
#hLinks li {
	float: left;
}
#hLinks li a {
	width: 100%; overflow: hidden;
}
#hLinks li a span {
	background: url("/resources/images/AG-hdr-3-18-14.jpg") no-repeat; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
#hLinks .h0 {
	width: 64px;
}
#hLinks .h0 span {
	background-position: 0px -126px;
}
#hLinks .h1 {
	width: 50px;
}
#hLinks .h1 span {
	background-position: -64px -126px;
}
#hLinks .h2 {
	width: 115px; margin-left: 10px;
}
#hLinks .h2 span {
	background-position: -124px -126px;
}
#hLinks .h3 {
	width: 115px; margin-left: 10px;
}
#hLinks .h3 span {
	background-position: -250px -126px;
}
#hLinks .h4 {
	width: 75px; margin-left: 13px;
}
#hLinks .h4 span {
	background-position: -375px -126px;
}
#hLinks .h5 {
	width: 82px; margin-left: 10px;
}
#hLinks .h5 span {
	background-position: -460px -126px;
}
#hLinks .h6 {
	width: 145px; margin-left: 50px;
}
#hLinks .h6 span {
	background-position: -594px -126px;
}
#hForm {
	width: 370px; clear: both; position: relative; min-height: 32px;
}
* html #hForm {
	height: 32px;
}
#hForm div span {
	background-image: url("/resources/images/header-rev-vt-12-28-2008.jpg");
}
#shopByBrand {
	overflow: hidden; float: left; display: inline; position: relative;
}
#searchAutogeek {
	overflow: hidden; float: left; display: inline; position: relative;
}
#hForm .valign {
	overflow: hidden; float: left; display: inline; position: relative;
}
.valign {
	width: 150px;
}
#shopByBrand * {
	vertical-align: middle;
}
#searchAutogeek * {
	vertical-align: middle;
}
#hForm form {
	overflow: hidden; float: left; display: inline;
}
#hForm select {
	width: 163px;
}
#hForm input.searchQuery {
	width: 163px;
}
#hForm input.searchQuery {
	position: relative; z-index: 200;
}
#shopByBrand {
	width: 95px; height: 32px; margin-left: 15px;
}
#shopByBrand span {
	background-position: -192px -163px;
}
#searchAutogeek {
	margin: 0px 0px 0px 5px; width: 115px; height: 32px;
}
#searchAutogeek span {
	background-position: -484px -163px;
}
#hForm #searchAutogeek span.shea {
	background: url("/resources/images//search-autogeek.jpg") no-repeat; width: 115px;
}
#shopByBrand span.shea {
	background: url("/resources/images/shopbybrand.jpg") no-repeat; width: 95px;
}
.hFormRight {
	width: 400px; float: right;
}
#hForm form {
	width: 240px; overflow: hidden; white-space: nowrap;
}
#hForm form * {
	vertical-align: middle;
}
#searchGo {
	top: 0px; right: 0px; xposition: absolute;
}
#footer {
	width: 960px; padding-bottom: 2em; clear: both; float: left; position: relative; z-index: 200; background-color: black;
}
#footerBadges {
	left: 0px; top: -80px; width: 180px; text-align: center; padding-top: 9px; position: absolute;
}
#footerBadges img {
	margin-bottom: 10px; vertical-align: bottom;
}
#fLinksBg {
	background: url("/lib/autogeek/newfooterbg.png") repeat-x left top rgb(13, 13, 13); margin-bottom: 1.4em; border-bottom-color: rgb(200, 200, 200); border-bottom-width: 1px; border-bottom-style: solid;
}
#fLinks2 {
	list-style: none; width: 960px; text-align: center; line-height: 29px; border-bottom-color: rgb(104, 104, 104); border-bottom-width: 1px; border-bottom-style: solid;
}
#fLinks2 {
	margin: 0px; padding: 0px;
}
#fLinks2 li {
	margin: 0px; padding: 0px;
}
#fLinks2 li {
	display: inline;
}
#fLinks2 li a {
	font: bold 1em/2em Tahoma, Arial, sans-serif; padding: 0px 5px; color: white; text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
#fLinks2 li a:hover {
	color: rgb(254, 0, 2); text-decoration: underline;
}
#fLinks {
	background: url("footer-bg.png") no-repeat left top; margin: 0px 0px 10px; padding: 0px 0px 0px 81px; width: 809px; height: 29px; list-style-type: none;
}
* html #fLinks {
	width: 780px;
}
#fLinks li {
	margin: 0px; padding: 0px; float: left;
}
#fLinks li a {
	height: 29px; overflow: hidden; display: block; position: relative;
}
#fLinks li span {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-image: url("footer-bg.png");
}
#fLinks .l0 {
	width: 46px;
}
#fLinks .l0 span {
	background-position: -81px 0px;
}
#fLinks .l1 {
	width: 51px;
}
#fLinks .l1 span {
	background-position: -127px 0px;
}
#fLinks .l2 {
	width: 43px;
}
#fLinks .l2 span {
	background-position: -178px 0px;
}
#fLinks .l3 {
	width: 96px;
}
#fLinks .l3 span {
	background-position: -221px 0px;
}
#fLinks .l4 {
	width: 60px;
}
#fLinks .l4 span {
	background-position: -317px 0px;
}
#fLinks .l5 {
	width: 103px;
}
#fLinks .l5 span {
	background-position: -377px 0px;
}
#fLinks .l6 {
	width: 71px;
}
#fLinks .l6 span {
	background-position: -480px 0px;
}
#fLinks .l7 {
	width: 88px;
}
#fLinks .l7 span {
	background-position: -551px 0px;
}
#fLinks .l8 {
	width: 57px;
}
#fLinks .l8 span {
	background-position: -639px 0px;
}
#fLinks .l9 {
	width: 111px;
}
#fLinks .l9 span {
	background-position: -696px 0px;
}
#footer .text {
	color: white; clear: both; margin-right: 1.6em; float: right;
}
#footer .text a {
	color: white; text-decoration: none;
}
#footer .text a:hover {
	text-decoration: underline;
}
#mainImage {
	vertical-align: bottom;
}
#htmltop {
	background: url("newsletter-bg.png") no-repeat left bottom; padding: 0px 19px 4px; color: rgb(204, 199, 184); font-size: 0.9em; display: none;
}
#htmltop a {
	color: rgb(204, 199, 184);
}
#htmltop a:hover {
	text-decoration: none;
}
#nav-product ul {
	list-style: none; margin: 0px; padding: 0px;
}
#nav-product ul li {
	list-style: none; margin: 0px; padding: 0px;
}
#nav-product ul li {
	background: url("bodyshell-bg.png") repeat-y left top;
}
* html #nav-product ul li {
	background: url("navbar-item-bg.png") left black;
}
#nav-product ul li a {
	background: url("navbar-item-bg.png") left black; padding: 4px 8px 4px 28px; width: 144px; color: white; font-weight: bold; text-decoration: none; display: block;
}
* html #nav-product ul li a {
	width: 180px;
}
#nav-product ul li a:hover {
	background-position: right; color: rgb(255, 234, 0);
}
#homepageSpecials {
	width: 600px; height: 40px; position: relative;
}
#homepageSpecials span {
	height: 100%; position: absolute; background-image: url("/resources/images/homepage-specials-rev.jpg"); background-repeat: no-repeat;
}
#homepageSpecials h2 {
	margin: 0px; width: 560px; height: 40px; overflow: hidden; float: left;
}
#homepageSpecials h2 span {
	width: 560px;
}
#homepageSpecials a {
	width: 40px; height: 40px; overflow: hidden; float: left; display: block;
}
#homepageSpecials a span {
	background-position: -560px 0px; width: 150px;
}
#banner-ads {
	background: rgb(255, 255, 255); width: 780px; text-align: center; float: right;
}
#homepageText {
	background: url("homepage-text-top-rev.png") no-repeat left top rgb(241, 240, 230); width: 780px; float: left;
}
#homepageTextBottom {
	background: url("homepage-text-bottom-rev.png") no-repeat left bottom; width: 780px; float: left; min-height: 230px;
}
* html #homepageTextBottom {
	height: 230px;
}
#homepageTextLeft {
	float: left; display: inline;
}
#homepageTextRight {
	float: left; display: inline;
}
#homepageTextLeft {
	width: 425px; xpadding: 9px 8px 90px 7px;
}
* html #homepageTextLeft {
	width: 425px;
}
#homepageTextLeft p {
	margin: 1em 0px; padding: 9px 8px 0px 7px;
}
#homepageTextLeft h3 {
	margin: 1em 0px; padding: 9px 8px 0px 7px; font-size: 1em;
}
#homepageTextRight {
	width: 175px; xpadding: 47px 10px 60px 15px; xwidth: 150px;
}
* html #homepageTextRight {
	width: 175px;
}
#homepageTextRight p {
	padding: 47px 10px 60px 15px; xmargin: 10px 0;
}
.home #contents {
	width: 599px; margin-left: 1px; background-color: white;
}
#contents a {
	color: black;
}
#contents .price-bold {
	text-align: center; margin-top: 0.2em;
}
#contents .sale-price {
	text-align: center; margin-top: 0.2em;
}
#contents .price {
	text-align: center; margin-top: 0.2em;
}
#contents .price-bold * {
	vertical-align: middle;
}
#contents .sale-price * {
	vertical-align: middle;
}
#contents .price * {
	vertical-align: middle;
}
#contents .price-bold {
	color: rgb(217, 26, 0); font-size: 1.1em;
}
#contents .sale-price {
	color: rgb(217, 26, 0); font-size: 1.1em;
}
#contents td {
	font-size: 72%; font-weight: bold;
}
#contents tr.hrule th {
	background: url("contents-bg.png") no-repeat left;
}
#contents td.vrule {
	background: url("contents-bg.png") no-repeat top;
}
#sectionsContents {
	width: 779px; padding-bottom: 2px; margin-left: 1px; background-color: white;
}
#newsletterSignUp {
	margin: 5px 0px;
}
#newsletterSignUp fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
#newsletterSignUp fieldset * {
	vertical-align: middle;
}
#newsletterSignUp input.mailingIn {
	width: 109px; margin-right: 3px;
}
.nl-text {
	font: 14px/normal Arial, Helvetica, sans-serif; margin: 10px 14px 0px; width: 152px; text-align: center; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
.nl-text p {
	margin: 5px 0px 0px; padding: 0px 15px;
}
.nl-text b {
	font: bold 16px/normal Arial, Helvetica, sans-serif; margin: 0px 0px 10px; font-size-adjust: none; font-stretch: normal;
}
.nl-text img {
	margin: 10px 0px 0px;
}
#recentlyViewedHeader {
	height: 40px; margin-top: 2em; position: relative;
}
#recentlyViewedHeader span {
	background: url("/lib/autogeek/recently-viewed.png") no-repeat -1px top;
}
#TITLE {
	background-position: right top; padding: 4px 0px; color: rgb(0, 51, 204); font-size: 14px; background-repeat: repeat-y;
}
#headerLogin {
	width: 103px; height: 111px; text-align: center; color: rgb(240, 202, 56); overflow: hidden; padding-top: 15px; font-size: 1.1em; font-style: italic; font-weight: bold; float: left; position: relative;
}
#headerLogin a {
	color: white; text-decoration: none;
}
#headerLogin a:hover {
	color: rgb(240, 202, 56); text-decoration: underline;
}
#headerLogin span {
	color: white; display: block;
}
tr.alt {
	background-color: rgb(239, 239, 239);
}
tr.on {
	background-color: rgb(255, 255, 255);
}
#mainimg {
	margin: 5px 0px 0px;
}
.quantity-input {
	text-align: right; font-size: 10px;
}
#product-info-table-1 {
	margin: 5px 55px 10px 0px; padding: 2px; border: 1px solid rgb(153, 153, 153);
}
* html #product-info-table-1 {
	margin: 5px 25px 10px 0px;
}
#product-info-table-1 th {
	font: 12px/normal arial; padding: 5px 3px 5px 5px; text-align: right; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#product-info-table-1 td {
	font: 12px/normal arial; padding: 5px 5px 5px 7px; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#product-info-table-1 .sale-price {
	font: bold 12px/normal arial; color: rgb(153, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#product-info-table-1 .yousave {
	font: 12px/normal arial; color: rgb(0, 153, 0); font-size-adjust: none; font-stretch: normal;
}
#product-info-table-1 select {
	font: 11px/normal arial; font-size-adjust: none; font-stretch: normal;
}
#product-info-table-1 .qtybox {
	font: 11px/normal arial; width: 28px; text-align: right; font-size-adjust: none; font-stretch: normal;
}
#product-info-table-2 {
	padding: 2px; border: 1px solid rgb(255, 255, 255); width: 400px;
}
.product-info-table-2-header {
	background: rgb(99, 101, 99) !important; font: bold 12px/normal arial !important; color: rgb(255, 255, 255) !important; font-size-adjust: none !important; font-stretch: normal !important;
}
.product-info-table-2-footer {
	height: 66px;
}
#product-info-table-2 th {
	background: rgb(99, 101, 99); font: 12px/normal arial; padding: 5px 3px 5px 5px; text-align: right; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
#product-info-table-2 td {
	background: rgb(222, 223, 222); font: 12px/normal arial; padding: 5px 5px 5px 7px; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#product-info-table-2 .sale-price {
	font: bold 12px/normal arial; color: rgb(156, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#product-info-table-2 .yousave {
	font: 12px/normal arial; color: rgb(0, 154, 0); font-size-adjust: none; font-stretch: normal;
}
#product-info-table-2 select {
	font: 11px/normal arial; font-size-adjust: none; font-stretch: normal;
}
#product-info-table-2 .qtybox {
	font: 11px/normal arial; width: 28px; text-align: right; font-size-adjust: none; font-stretch: normal;
}
#multi-quantity-text {
	font: 11px/normal verdana; padding: 0px 3px; font-size-adjust: none; font-stretch: normal;
}
.multi-quantity-input {
	font: 11px/normal verdana; text-align: right; font-size-adjust: none; font-stretch: normal;
}
#multi-name {
	font: bold 11px/normal verdana; font-size-adjust: none; font-stretch: normal;
}
.multi-code {
	font: 11px/normal verdana; font-size-adjust: none; font-stretch: normal;
}
#multi-caption {
	font: 11px/normal verdana; color: rgb(82, 85, 82); font-size-adjust: none; font-stretch: normal;
}
.multi-price .price {
	font: 11px/normal verdana; color: rgb(82, 85, 82); font-size-adjust: none; font-stretch: normal;
}
.multi-price .saleprice {
	font: 11px/normal verdana; color: rgb(206, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#multi-more-text {
	font: 11px/normal verdana; color: rgb(82, 85, 82); font-size-adjust: none; font-stretch: normal;
}
.multi-divider {
	background: url("/lib/autogeek/divider-bg.gif") repeat-x left;
}
#multi-header {
	background: url("/lib/autogeek/multi-header.gif") no-repeat left rgb(82, 85, 82); margin: 0px 0px 10px;
}
td.loginhd {
	font: 12px/normal arial, helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
td.register a.accountlinks {
	border: currentColor !important; color: rgb(255, 0, 0) !important; text-decoration: underline !important;
}
td.register a.accountlinks:hover {
	text-decoration: none !important;
}
td.logbtn {
	text-align: left;
}
#imgplaceholder {
	border: 2px dashed rgb(87, 87, 87); text-align: left; visibility: hidden; position: absolute; background-color: rgb(255, 255, 255);
}
.close {
	font: bold 12px/normal Arial, Helvetica, sans-serif; border: 2px outset currentColor; padding-right: 4px; padding-left: 4px; text-decoration: none; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
.close:hover {
	font: bold 12px/normal Arial, Helvetica, sans-serif; border: 2px inset currentColor; padding-right: 4px; padding-left: 4px; text-decoration: none; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
#sidebar td {
	font: 12px/normal Arial, Helvetica, sans-serif, Tahoma, Verdana, Geneva; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#sidebar {
	width: 200px;
}
td {
	font: 16px/normal Arial, Helvetica, sans-serif, Tahoma, Verdana, Geneva; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
th {
	font: 16px/normal Arial, Helvetica, sans-serif, Tahoma, Verdana, Geneva; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
h1 {
	font: bold 14px/normal Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(0, 51, 204); font-size-adjust: none; font-stretch: normal;
}
h2 {
	margin: 0px; padding: 0px; color: rgb(255, 255, 255);
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border: 0px currentColor;
}
#cross-sell-hr {
	margin: -5px; padding: 0px; color: rgb(209, 209, 209);
}
#caption {
	font-family: arial; font-weight: normal;
}
#caption td {
	font-family: arial; font-weight: normal;
}
#related-items a {
	font: 11px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(127, 127, 127); font-size-adjust: none; font-stretch: normal;
}
#related-items td {
	font: 11px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(127, 127, 127); font-size-adjust: none; font-stretch: normal;
}
#related-items h3 {
	font: 11px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(127, 127, 127); font-size-adjust: none; font-stretch: normal;
}
#related-items a {
	text-decoration: underline;
}
#TITLE {
	background-position: right; padding: 4px; display: block; background-repeat: repeat-y;
}
#navigation {
	background-position: bottom; background-repeat: no-repeat;
}
#navigation td {
	font: bold 11px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
#navigation a {
	font: bold 11px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
#navigation a:hover {
	font: bold 11px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(0, 255, 255); font-size-adjust: none; font-stretch: normal;
}
#message {
	background-position: right; background-repeat: no-repeat;
}
#message td {
	color: rgb(204, 204, 204);
}
#breadcrumbs {
	font: bold 11px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; padding: 5px; color: rgb(0, 51, 204); font-size-adjust: none; font-stretch: normal;
}
#breadcrumbs td {
	font: bold 11px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; padding: 5px; color: rgb(0, 51, 204); font-size-adjust: none; font-stretch: normal;
}
#breadcrumbs a {
	font: bold 11px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(0, 51, 204); font-size-adjust: none; font-stretch: normal;
}
#breadcrumbs a:hover {
	font: bold 11px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(0, 51, 204); font-size-adjust: none; font-stretch: normal;
}
#contents a {
	font: bold 12px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#contents td {
	font: bold 12px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#contents a:hover {
	font: bold 12px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(255, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#contentscat a {
	font: bold 12px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
#contentscat a:hover {
	font: bold 12px/normal Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
#showborder {
	border: 1px solid rgb(255, 0, 0);
}
* html #subnav a {
	width: 100%;
}
#nav a {
	width: 100%;
}
#nav a {
	font: bold 12px/normal arial; color: rgb(255, 255, 255); padding-top: 3px; padding-bottom: 3px; padding-left: 12px; text-decoration: none; border-top-color: rgb(68, 68, 68); border-bottom-color: rgb(0, 0, 0); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block; font-size-adjust: none; font-stretch: normal; background-color: rgb(32, 32, 32);
}
#nav a:hover {
	font: bold 12px/normal arial; color: rgb(0, 255, 255); text-decoration: underline; font-size-adjust: none; font-stretch: normal;
}
#subnav a:hover {
	font: bold 12px/normal arial; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal; background-color: rgb(33, 33, 33);
}
#subnav {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(33, 33, 33) rgb(33, 33, 33) currentColor; font: bold 12px/normal arial; font-size-adjust: none; font-stretch: normal; background-color: rgb(215, 215, 215);
}
#subnav a {
	font: bold 12px/normal arial; padding: 2px 5px; color: rgb(0, 0, 0); text-decoration: none; border-bottom-color: rgb(33, 33, 33); border-bottom-width: 1px; border-bottom-style: solid; display: block; font-size-adjust: none; font-stretch: normal;
}
#multi-add td {
	font: 11px/normal tahoma, arial !important; font-size-adjust: none !important; font-stretch: normal !important;
}
#multi-add .sep {
	padding: 0px; border-bottom-color: rgb(190, 190, 190); border-bottom-width: 1px; border-bottom-style: solid;
}
#multi-add a {
	font: bold 12px/normal arial, tahoma !important; font-size-adjust: none !important; font-stretch: normal !important;
}
#multi-add input {
	text-align: right;
}
#multi-add .price {
	font: 12px/normal arial, tahoma !important; font-size-adjust: none !important; font-stretch: normal !important;
}
#multi-add .sale-price {
	font: bold 12px/normal arial, tahoma; color: rgb(156, 0, 0); font-size-adjust: none; font-stretch: normal;
}
#multi-add .btn-line1 {
	border-bottom-color: rgb(4, 4, 4); border-bottom-width: 1px; border-bottom-style: solid;
}
#multi-add .btn-line2 {
	border-top-color: rgb(4, 4, 4); border-top-width: 1px; border-top-style: solid;
}
.cross-sell-hr {
	background: rgb(209, 209, 209); margin-bottom: 5px;
}
#recent-items td {
	font-size: 74%;
}
#recent-items td a {
	color: black; font-weight: bold;
}
.recent-items-saleprice {
	color: rgb(255, 0, 0);
}
.sitemap-header {
	font-weight: bold;
}
.sitemap-1 {
	font-weight: bold;
}
.sitemap-2 {
	font-weight: bold;
}
.sitemap-header {
	display: block;
}
.sitemap-1 {
	display: block;
}
.sitemap-2 {
	display: block;
}
.sitemap-3 {
	display: block;
}
.sitemap-4 {
	display: block;
}
.sitemap-1 {
	color: rgb(0, 0, 255);
}
.sitemap-2 {
	color: rgb(0, 0, 255);
}
.sitemap-3 {
	color: rgb(0, 0, 255);
}
.sitemap-4 {
	color: rgb(0, 0, 255);
}
.sitemap-header {
	color: rgb(0, 0, 0); padding-top: 25px; font-size: 1.2em;
}
.sitemap-1 {
	padding-left: 25px; font-size: 1em;
}
.sitemap-2 {
	padding-left: 50px; font-size: 1em;
}
.sitemap-3 {
	padding-left: 75px; font-size: 0.8em;
}
.sitemap-4 {
	padding-left: 100px; font-size: 0.7em;
}
#navLogin {
	margin: 1em 0px; padding: 5px; width: 170px;
}
#navLogin table {
	width: 100%;
}
#navLogin table td {
	color: white; font-size: 72%;
}
#navLogin input.text {
	width: 100%;
}
#navLogin input.defaultValue {
	color: rgb(187, 187, 187);
}
#navLogin a {
	color: red; text-decoration: underline;
}
#navLogin a:hover {
	text-decoration: none;
}
.requiredHintAnchor {
	height: 0px; position: relative;
}
.requiredHint {
	margin: 0.2em 0px 0px -11px; padding: 0.4em 0.7em; border: 1px solid black; color: black; position: absolute; z-index: 201; cursor: default; background-color: rgb(240, 240, 200); -webkit-box-shadow: 3px 3px 2px #aaa;
}
.requiredHint div {
	background: url("/lib/autogeek/hint-bg.gif") no-repeat left top; left: 10px; top: -9px; width: 17px; height: 9px; position: absolute;
}
.comments-box {
	width: 562px; padding-top: 15px; padding-bottom: 15px; clear: both; margin-left: 15px;
}
.comments-box .comments-inner {
	background: url("/lib/autogeek/suggestion-box-repeat.gif") repeat-y left top; width: 562px; padding-top: 5px; padding-bottom: 5px; border-bottom-color: rgb(101, 101, 101); border-bottom-width: 1px; border-bottom-style: solid;
}
.comments-box .comments-inner .comments-left {
	font: 10px/normal Verdana, Arial, Helvetica, sans-serif; width: 190px; text-align: left; color: rgb(0, 0, 0); padding-left: 10px; float: left; font-size-adjust: none; font-stretch: normal;
}
.comments-box .comments-inner .comments-right {
	width: 335px; text-align: left; padding-left: 15px; float: left;
}
.comments-box .comments-inner .comments-right textarea {
	border: 1px solid rgb(102, 102, 102);
}
.comments-box .comments-inner .comments-right div {
	padding-top: 5px;
}
.dropdiv {
	width: 249px; margin-top: 7px; float: left;
}
.dropdiv select {
	width: 249px;
}
#header-bar {
	background: url("/resources/images/header-bar-bg-wide.jpg") repeat-x 0px 0px; width: 100%; overflow: hidden; clear: both;
}
div#mccontainer {
	margin: 0pt auto; width: 960px; height: 0px; overflow: visible; position: relative; z-index: 1000;
}
div#scMCholster-0061 {
	font: bold 11px/1.2 Tahoma, Verdana, sans-serif; top: 128px !important; width: 344px; text-align: left; right: 5px; color: rgb(0, 0, 0); float: right; position: absolute; z-index: 1; font-size-adjust: none; font-stretch: normal;
}
div.open-0061#scMCholster-0061 {
	z-index: 10000;
}
div#scMCholster-0061 a {
	color: rgb(0, 0, 0);
}
div#ctrlPad-0061 {
	padding: 3px;
}
#scMCholster-0061 div#minCart-0061 {
	padding: 5px 0px; width: 176px; float: left;
}
div#minCart-0061 a#emptyCook-0061 {
	padding: 1px 3px; text-align: center; color: rgb(255, 255, 255); display: block;
}
div#minCart-0061 span.emptyMsg-0061 {
	padding: 1px 3px; text-align: center; color: rgb(255, 255, 255); display: block;
}
div#minCart-0061 span.itemCnt-0061 {
	padding: 1px 3px; text-align: center; color: rgb(255, 255, 255); display: block;
}
div#minCart-0061 span.itemTtl-0061 {
	padding: 1px 3px; text-align: center; color: rgb(255, 255, 255); display: block;
}
div#minCart-0061 span.itemCnt-0061 {
	width: 70px; float: right;
}
div#minCart-0061 span.itemTtl-0061 {
	width: 70px; float: right;
}
div#minCart-0061 span.itemCnt-0061 {
	float: left;
}
div#minCart-0061 span.itemCnt-0061 span {
	font-weight: normal;
}
#scMCholster-0061 div#ctrlBox-0061 {
	width: 158px; float: right;
}
div#ctrlBox-0061 span {
	padding-top: 20px; display: block;
}
div#ctrlBox-0061 a#toggLink-0061 {
	background: url("scMCtoggCart.png") no-repeat 0px 0px; width: 77px; height: 28px; text-indent: -10000px; overflow: hidden; float: left; display: block;
}
div#ctrlBox-0061 a#checkoutLink-0061 {
	background: url("scMCcheckout.png") no-repeat 0px 0px; width: 77px; height: 28px; text-indent: -10000px; overflow: hidden; float: right; display: block;
}
div.open-0061 a#toggLink-0061 {
	background-position: 0px -28px;
}
div.emptyCart-0061 a#checkoutLink-0061 {
	cursor: default; opacity: 0.2;
}
div.open-0061 a#checkoutLink-0061 {
	cursor: default; opacity: 0.2;
}
div#smCart-0061 {
	background: url("scMCloading.gif") no-repeat center rgb(196, 196, 196) !important; width: 344px; right: 0px; position: absolute; z-index: 10000;
}
div.closed-0061 div#smCart-0061 {
	border: currentColor; width: 0px; height: 0px; overflow: hidden;
}
iframe#cartViewer-0061 {
	border: currentColor; width: 344px; height: 0px; vertical-align: top;
}
div.loading-0061 div#smCart-0061 {
	height: 60px;
}
div.loading-0061 iframe#cartViewer-0061 {
	height: 1px !important;
}
div.clearer-0061 {
	clear: both;
}
.addthis {
	margin: 0px 5px 0px 8px; float: right; display: inline;
}
#agcd {
	margin: auto; width: 323px; height: 46px; text-align: center; color: rgb(255, 0, 0); font-family: Tahoma, Geneva, sans-serif; font-size: 34px; font-weight: bolder; vertical-align: middle; border-right-color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-left-color: rgb(0, 0, 0); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; text-shadow: 0.1em 0.1em 0.06em #e1dfdf; background-color: rgb(255, 255, 255);
}
h1#asotvLink {
	margin: 39px 0px 0px 87px; left: auto; top: auto; clear: none; float: left; display: inline; position: relative; z-index: 999;
}
h1#sema11Link {
	margin: 39px 0px 0px 20px; left: auto; top: auto; clear: none; float: left; display: inline; position: relative; z-index: 999;
}
h1#pbmaLink {
	margin: 10px 30px 0px 0px; left: auto; top: auto; clear: none; float: right; display: inline; position: relative; z-index: 999;
}
iframe.grelated-iframe {
	left: -99999px !important; display: none !important;
}
.multi-add-container {
	width: 99%; margin-top: 15px; margin-bottom: 15px;
}
table.sc-ma-product-table {
	width: 100%; padding-top: 10px; margin-top: 7px; border-top-color: rgb(215, 215, 215); border-top-width: 1px; border-top-style: solid; display: block;
}
div.sc-ma-items {
	text-align: right; padding-bottom: 10px;
}
.sc-ma-product-table td td {
	padding: 2px 0px;
}
.sc-ma-product-table td th {
	padding: 2px 6px 2px 0px; color: rgb(82, 85, 82); font-size: 11px; font-weight: normal; vertical-align: middle;
}
.sc-ma-product-table td.qty-cell {
	font: 11px/normal Arial, Helvetica, sans-serif; width: 15%; padding-left: 15px; border-right-color: rgb(228, 228, 228); border-right-width: 1px; border-right-style: solid; font-size-adjust: none; font-stretch: normal;
}
.sc-ma-product-table td#qty-cell-border {
	font: 11px/normal Arial, Helvetica, sans-serif; width: 17%; padding-left: 15px; border-right-color: rgb(228, 228, 228); border-right-width: 1px; border-right-style: solid; font-size-adjust: none; font-stretch: normal;
}
.sc-ma-product-table td.qty-cell .qty-container {
	padding-left: 5px; float: left; display: block;
}
.sc-ma-product-table td.qty-cell input {
	margin: 4px; padding: 2px; width: 20px; text-align: right;
}
.sc-ma-product-table td.qty-cell input.ma-chk-box {
	padding: 0px; margin-top: 7px; float: left; display: block;
}
.sc-ma-product-table td.img-cell {
	width: 20%; text-align: center; border-right-color: rgb(228, 228, 228); border-right-width: 1px; border-right-style: solid;
}
.sc-ma-product-table td.img-cell {
	margin: 0px auto; text-align: center; vertical-align: middle;
}
.sc-ma-product-table td.qty-cell {
	margin: 0px auto; text-align: center; vertical-align: middle;
}
.sc-ma-product-table td.info-cell {
	font: 11px/normal Arial, Helvetica, sans-serif; width: 63%; text-align: left; padding-right: 10px; padding-left: 10px; font-size-adjust: none; font-stretch: normal;
}
.sc-ma-product-table td.info-cell .name {
	padding-bottom: 4px;
}
.sc-ma-product-table td.info-cell .name a {
	font: bold 12px/normal Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); text-decoration: none; font-size-adjust: none; font-stretch: normal;
}
.sc-ma-product-table td.info-cell .name a:hover {
	text-decoration: underline;
}
.sc-ma-product-table td.price-cell {
	text-align: center; border-right-color: rgb(228, 228, 228); border-right-width: 1px; border-right-style: solid;
}
.sc-ma-product-table td.price-cell-noborder {
	text-align: center;
}
.sc-ma-product-table td.info-cell .abstract {
	color: rgb(82, 85, 82); padding-bottom: 7px;
}
.sc-ma-product-table td div.prices {
	text-align: center;
}
.sc-ma-product-table td div.price {
	font: 11px/normal Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
.sc-ma-product-table td div.sale-price {
	font: bold 12px/normal Arial, Helvetica, sans-serif; color: rgb(206, 0, 0); font-size-adjust: none; font-stretch: normal;
}
.sc-ma-product-table input {
	border: 1px solid rgb(208, 208, 208); font-size: 10px;
}
.sc-ma-product-table select {
	border: 1px solid rgb(208, 208, 208); width: 150px; font-size: 10px;
}
.sc-ma-product-table td.ma-sep-cell {
	background: url("/lib/autogeek/divider-bg.gif") repeat-x left; height: 20px;
}
